<!doctype html>
<html lang="en">
<head>
    <base href="http://localhost:8080"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="position: absolute;
            top: 3%;
            left: 3%;
            height: auto">
    校验文件
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">校验文件</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="previousFile" class="form-label">上传校验文件</label>
                <input class="form-control mb-3" id="compareFileInput" type="file" name="file" onchange="uploadCompareFileFunc()" accept=".xls">
            </div>
            <div class="modal-footer">
                <a id="downloadCompareFile" href="file/downloadCompareFile" type="button" class="btn btn-primary">下载校验文件</a>
            </div>
        </div>
    </div>
</div>

<form class="row g-3" id="fileForm" action="file/upload" method="post" enctype="multipart/form-data" style="position: absolute;
            top: 40%;
            left: 20%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            min-height: 300px;
            height: auto;
            width: 50%">
    <div>
        <label for="previousFile" class="form-label">上期文件夹</label>
        <input class="form-control form-control-lg" id="previousFile" type="file" name="previousFile" webkitdirectory>
    </div>
    <div>
        <label for="currentFile" class="form-label">当期文件夹</label>
        <input class="form-control form-control-lg" id="currentFile" type="file" name="currentFile" webkitdirectory>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary mb-3" id="sbtBtn">开始校验</button>
    </div>
</form>
<a id="downloadReport" href="file/downloadReport" hidden="hidden">hidden</a>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    function uploadCompareFileFunc(){
        let data = new FormData();
        data.append('file', $('#compareFileInput').prop('files')[0])
        $.ajax({
                type: 'POST',
                url: "file/uploadCompareFile",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result === "0"){
                        alert('上传成功')
                    }else {
                        alert(result)
                    }
                    document.getElementById('compareFileInput').value = null
                }
            });
    }
    $(function(){
        $("#sbtBtn").click(function (){
            let data = new FormData();
            for (let i = 0; i < $('#previousFile').prop('files').length; i++) {
                data.append('previousFile', $('#previousFile').prop('files')[i]);
            }
            for (let i = 0; i < $('#previousFile').prop('files').length; i++) {
                data.append('currentFile', $('#currentFile').prop('files')[i]);
            }
            $.ajax({
                type: 'POST',
                url: "file/upload",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result === "0"){
                        $("#downloadReport")[0].click();
                    }else {
                        alert(result)
                    }
                }
            });
        })
    })
</script>
</body>
</html>